table {
  border-collapse: collapse;
  with: 100%;
}
th {
  padding: .5em;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
td {
  padding: .5em;
  text-align: left;
}
tr:hover {
  background-color: rgba(64, 64, 64, .25);
}
/*tr:nth-child(even) {
  background-color: rgba(64, 64, 64, .25);
}*/
