.image-container {
  text-align: center;
  padding-left: 23%;
  padding-right: 25%;
}
.image-container img {
  opacity: .95;
  padding: 3px;
  border: 1px solid #021a40;
  background-color: #333333;
}
.slideshow {
  animation: fading 7s infinite;
  text-align: center;
  width: 100%;
  min-width: 125px;

}
@keyframes fading {
  0% {opacity: 0 }
  50% {opacity: 1 }
  100% {opacity: 0 }
}
.contact-image-wrapper {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  max-width: 100%;
  min-width: 365px;
}
.experience-image-container {
  float: left;
  height: 100%;
  width: auto;
  padding: 10px;
}
.experience-image-wrapper {
  float: left;
  height: 72px;
  width: 72px;
  padding: 2px 12px 4px 3px;
  overflow: hidden;
}
.projects-git-image-wrapper {
  float: left;
  height: auto;
  width: 72px;
}
.experience-polish {
  width: inherit;
  border-radius: 10%;
  border: 1px solid #000000;
}
