ul.outer {
  color: #FFFFFF;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
li.outer {
  font-size: 12px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(72, 72, 72, .95);
}
.shadow {
  box-shadow:inset 0px 0px 5px 1px #101010;
}
.content-body-container .subtitle {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 3px;
  letter-spacing: .5px;
}
.content-body-container .title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}
.content-body-container .subtitle-details {

}
ul.inner {
  list-style-type: square;
}
.description-body {
  margin-left: 80px;
}
.header-wrapper {
  margin-left: 80px;
  padding-bottom: 5px;
}
.gitlink {
  float: right;
  max-width: 20%;
}
.lab {
  max-width: 15%;
}
.caption {
  font-size: 8px;
  text-align: center;
}
