html {
  background: url("C:/Users/vissakq/PersonalWebsite/images/15thfloor.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  margin: 0;
  background-color: white;
  color: black;
}
div.centeredtext {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
div {
  display: block;
}
h1.welcometext {
    left: 0;
    margin: auto;
    position: absolute;
    top: 40%;
    width: 100%;
    letter-spacing: 0.0588235em;
    color: white;
}
