ul.outer {
  color: #FFFFFF;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
li.outer {
  font-size: 12px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(72, 72, 72, .95);
}
.shadow {
  box-shadow:inset 0px 0px 5px 1px #101010;

}
.content-body-container .subtitle {
  font-size: 14px;
}
.content-body-container .title {
  font-size: 14px;
  font-weight: 500;
}
.content-body-container .subtitle-details {

}
.description-wrapper {

}
ul.inner {
  list-style-type: square;
}
