html {
  background: url("../images/15thfloorColor.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  font-family: Helvetica;
  color: #333333;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.page-wrap {
  background-color: white;
  padding: 16px;
  max-width: 700px;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  background: rgba(0, 0, 0, .4);
}
.body-wrapper {
  max-width: 800px;
}
.page-header {
  color: white;
  text-align: center;
  font-family: Helvetica;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.166667em;
  font-size: 45px;
}
.page-subheader {
  color: white;
  text-align: center;
	font-family: Helvetica;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0.166667em;
	font-size: 15px;
}
.p-header {
  margin-top: 20px;
  margin-bottom: 0px;
}
.nav-bar {
	text-align: center;
	display: inline-block;
  padding: 0px;
	margin: 0 auto;
}
.nav-container {
	text-align: center;
}
.nav-button {
	display: table-cell;
	padding: 10px;
	margin: 0 auto;
  cursor: pointer;
}
.nav-button a {
  color: white;
  text-align: center;
  font-family: Helvetica;
  font-style: normal;
  letter-spacing: 0.166667em;
  font-size: 17px;
  margin-bottom: 0px;
}
.nav-button a:hover {
  color: #5594A8;
}
.content-body-container {
	padding: 16px 16px 4px 16px;
	text-decoration: none;
	font-family: Arial;
	font-style: normal;
	font-size: 18px;
	line-height: 1.15;
}
.content-body-container h1 {
  color: white;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 30px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.content-body-container h2 {
  color: white;
  text-align: left;
  font-family: Helvetica;
  font-style: italic;
  font-size: 24px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.content-body-container a {
  color: white;
  text-decoration: none;
  font-style: italic;
}
.content-body-container a:hover {
  color: #5594A8;
  text-decoration: underline;
  font-style: italic;
}
p {
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}
.title-container {
  text-align: center;
}
.sticky-footer {
  color: gray;
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
hr {
  width: 650px;
  opacity: .5;
}
.columns {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  color: white;
}
